body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* display: flex;
        justify-content: center;
        align-items: center; */
    background-color: burlywood;
}

.card {
    width: 330px;
    height: 360px;
    /* border: 1px solid black; */
    border-radius: 20px;
    overflow: hidden;
    background-color: honeydew;
    /* transform: translate(-1450px); */
    margin-left: -350px;
}

.nav {
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: 320px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 400px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    border: 2px solid #f2f2f2;
    border-right: none;
    font-size: 16px;
}

input:focus {
    outline: none;
}


button {
    height: 45px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #f2f2f2;

}

.information {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
}

.casediv {
    width: 300px;
    height: 120px;
    border: 2px solid rgb(240, 225, 225);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 15px;
}

#heading {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    /* border: 1px solid rgb(242, 240, 240); */
    color: white;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infotext {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 72px;
    /* border: 1px solid rgb(249, 245, 245); */
    color: white;

}

#heading-two {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(243, 236, 236);
    color: white;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infotext-two {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 72px;
    /* border: 1px solid rgb(245, 241, 241); */
    color: white;

}

#heading-three {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    /* border: 1px solid rgb(242, 235, 235); */
    color: white;
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infotext-three {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 72px;
    /* border: 1px solid rgb(250, 248, 248); */
    color: white;

}

#cardsection {
    width: 100%;
    height: 450px;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.HoverCard {
    width: 100%;
    height: 125px;
    /* border: 1px solid black; */
    /* transform: translate(0px,100px); */
    border-radius: 20px;
    transition: all 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.762);
}

#ststename {
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover>.HoverCard {
    transform: translate(0px, -160px);
    transition: all 1s ease-in-out;

}

#total-Confirmed {
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #2196F3;
    /* border:1px solid black; */
}

#confirmed-CasesIndian {
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #FFC107;
    /* border:1px solid black; */
}

#Discharged {
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #4CAF50;
    /* border:1px solid black; */
}

#Deaths {
    width: 100%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #F44336;
    /* border:1px solid black; */
}

.doctor {
    width: 600px;
    height: 100%;
    /* border: 1px solid black;     */
    /* margin-right: 10px;   */
}

.animate__animated.animate__fadeInLeftBig {
    --animate-duration: 3s;
  }

  .animate__animated.animate__fadeInRightBig {
    --animate-duration: 3s;
  }

@media (width<=500px) {
    .card {
        width: 330px;
        height: 360px;
        /* border: 1px solid black; */
        border-radius: 20px;
        overflow: hidden;
        background-color: honeydew;
        margin: 0px;
    }

    .doctor {
        display: none;
    }
}